<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
    <nav class="navi">
        <h1 class="head">Hello</h1>
        <a href="">profile</a>
        <a href="">Edukasi</a>
        <a href="">Riwat</a>
    </nav>
    <h3>Hallo word</h3>
<button onclick="myclick()" value="klik">pencet</button>
<div  id="parag1" class="layar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eius ullam qui, pariatur eaque maiores impedit nesciunt aliquid voluptates. Facilis alias corrupti, labore deserunt sunt a consectetur eum. Ad, quia!</p>
   </div>
    <select id="Myselect" onchange="myfunction()" for="pilih" value="pilih"> pilih
        <option onchange="myfunction" value="profile"></option>
        <option value="Edukasi">hrhrrrhrh</option>
    </select>

    <label id="tampil" for=""></label>
    <p  id="klik"></p>
    <br>
   <select name="" id="ganti" onchange="fungsi()">
    <option value="1">pilih 1</option>
    <option value="2">pilih 2</option>
   </select>
   <br>
   <label class="lbl" for="" id="tampilkan"></label>
   <div  id="parag1" class="layar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eius ullam qui, pariatur eaque maiores impedit nesciunt aliquid voluptates. Facilis alias corrupti, labore deserunt sunt a consectetur eum. Ad, quia!</p>
   </div>
   <div id="parag2" class="layar">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iste neque beatae praesentium, obcaecati perferendis perspiciatis repellendus unde dolorum quis, repellat facilis cumque? Sapiente expedita iste et ut saepe nostrum?</p>
   </div>

   <a href="">anchor</a>
</body>
<script src="../js/change.js"></script>
</html>